:root {
    --color-A: rgb(0, 0, 0);
    --shadow-A: 0px 0px 4px #cacaca;
    --color-B: #966426;
    --shadow-B: 0px 0px 6px #000000;
    --color-C: #152f4c;
    --color-D: #353535;
    --color-E: #bbb;
    --color-F: rgb(255, 255, 255);
    --letra-A: 3em;
    --letra-B: 2.3em;
    --letra-C: 1.65em;
    --letra-D: 1em;
    --letra-E: 0.7em;

}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

.content_1 {
    width: 100vw;
    height: 350vh;
    display: flex;
    flex-direction: column;
}

.full_page {
    width: 100%;
    height: 100%;
}

.full_page2 {
    width: 100%;
    height: 157%;
}

.section_2 {
    display: flex;
    flex-direction: column;
    background: url('../images/wbg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.full_page3 {
    width: 100%;
    height: 90%;
}

.rectangulo1 {
    height: 15%;
    width: 100%;
    font-size: var(--letra-A);
    font-family: 'Parisienne', cursive;
    background: url('../images/wbg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.rectangulo2 {
    height: 15%;
    width: 100%;
    font-size: var(--letra-B);
    font-family: 'Parisienne', cursive;
    background: url('../images/wbg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.rectangulo3 {
    height: 50%;
    width: 100%;
    font-size: var(--letra-D);
    font-family: 'EB Garamond', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.rectangulo4 {
    display: flex;
    height: 13.4%;
    width: 100%;
    font-size: var(--letra-D);
    font-family: 'EB Garamond', serif;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.medio1 {
    height: 70%;
    width: 100%;
    font-size: var(--letra-C);
    background: url('../images/1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.medio2 {
    height: 80%;
    width: 100%;
    background: url('../images/2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title_content_1 {
    /*padding-top: 3vh;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.title_content_1 h1 {
    color: var(--color-A);
    text-shadow: var(--shadow-A);
    padding: 1%;
}

.title_content_2 {
    border-top: 3px solid var(--color-B);
    border-bottom: 3px solid var(--color-B);
    text-align: center;
}

.title_content_2 h1 {
    color: var(--color-A);
    text-shadow: var(--shadow-A);
}

.circulos {
    height: 45px;
    width: 45px;
    background-color: var(--color-B);
    display: flex;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.contador {
    height: 15%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-top: 3px solid var(--color-B);
    border-bottom: 3px solid var(--color-B);
    /*padding-top: 3vh;
    padding-bottom: 3vh;*/
}

.contador p {
    color: var(--color-A);
    width: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: var(--shadow-A);
}

.contador p span {
    color: var(--color-F);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
    html {
        width: 50%;       
    }
}


/* ubicando contenedor de imagenes */
.container {
    height: 100%;
    width: 100%;
    position: relative;
}

/* esconde imagenes de la galeria por default */
.mySlides {
    display: none;
}

/* cambia cursor cuando hovering sobre miniaturas */
.cursor {
    cursor: pointer;
}

/* botones ant y sig */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(255, 94, 0);
    font-weight: bold;
    font-size: 30px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* coloca boton siguiente a la derecha */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* efecto cuando hovereando */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
