:root {
    --color-A: rgb(0, 0, 0);
    --shadow-A: 0px 0px 4px #cacaca;
    --color-B: #966426;
    --shadow-B: 0px 0px 6px #000000;
    --color-C: #152f4c;
    --color-D: #353535;
    --color-E: #bbb;
    --color-F: rgb(255, 255, 255);
    --letra-A: 9vw;
    --letra-B: 6.5vw;
    --letra-C: 5vw;
    --letra-D: 3vw;
    --letra-E: 2vw;

}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.content_1 {
    width: 100vw;
    height: 400vh;
    display: flex;
    flex-direction: column;
}

.full_page {
    width: 100vw;
    height: 100vh;
}

.full_page2 {
    width: 100vw;
    height: 157vh;
}

.full_page3 {
    width: 100vw;
    height: 130vh;
}

.rectangulo1 {
    height: 15vh;
    width: 100vw;
    font-size: var(--letra-A);
    font-family: 'Parisienne', cursive;
    background: url('../images/wbg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.medio1 {
    height: 70vh;
    width: 100vw;
    font-size: var(--letra-C);
    background: url('../images/1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.medio2 {
    height: 80vh;
    width: 100vw;
    background: url('../images/2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.rectangulo2 {
    height: 15vh;
    width: 100vw;
    font-size: var(--letra-B);
    font-family: 'Parisienne', cursive;
    background: url('../images/wbg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.rectangulo3 {
    height: 50vh;
    width: 100vw;
    font-size: var(--letra-D);
    font-family: 'EB Garamond', serif;
    /*line-height: 6.3vw;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.rectangulo4 {
    height: 13.4vh;
    width: 100vw;
    font-size: var(--letra-D);
    font-family: 'EB Garamond', serif;

}

/*.section_1{
    background:url('../images/1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}*/

.title_content_1 {
    padding-top: 3vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.title_content_1 h1 {
    /*text-transform: uppercase;*/
    /*font-size: 2.5em;*/
    color: var(--color-A);
    text-shadow: var(--shadow-A);
}

.t_sub_cont_B {
    margin-top: 50vh;
}

.t_sub_cont_B h1 {
    color: var(--color-B);
    text-shadow: var(--shadow-B);
    font-size: 3em;
}

/**************Section 2**************/
.section_2 {
    display: flex;
    flex-direction: column;
    background: url('../images/wbg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title_content_2 {
    border-top: 3px solid var(--color-B);
    border-bottom: 3px solid var(--color-B);
    padding-top: 3vh;
    padding-bottom: 3vh;
    /*background-color: var(--color-C);*/
    text-align: center;
}

.title_content_2 h1 {
    color: var(--color-A);
    text-shadow: var(--shadow-A);
}

.sub_titles {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('../images/wbg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sub_title_1 {
    padding-top: 1vh;
    width: 40vw;
}

.sub_title_1 h1 {
    font-size: 2em;
    color: var(--color-D);
    border-bottom: var(--color-B) 1px solid;
}

.sub_title_1 p {
    font-size: 1.2em;
    color: var(--color-D);
}

.circulos {
    height: 45px;
    width: 45px;
    background-color: var(--color-B);
    display: flex;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.contador {
    display: flex;
    text-align: center;
    justify-content: center;
    border-top: 3px solid var(--color-B);
    border-bottom: 3px solid var(--color-B);
    padding-top: 3vh;
    padding-bottom: 3vh;
    /*background-color: var(--color-C);*/
}

.contador p {
    color: var(--color-A);
    width: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: var(--shadow-A);
}

.contador p span {
    color: var(--color-F);
}

.photo_back_2 {
    height: 85vh;
    width: 100vw;
    background: url("../images/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 700px) {
    .title_content_1 {
        padding-top: 0;
    }

    .sub_title_1 {
        width: 100vw;
    }

    .section_1 {
        background-size: cover;
    }

    .photo_back_2 {
        background-size: cover;
    }

    .t_sub_cont_B h1 {
        font-size: 2.3em;
        padding-top: 10vh;
    }
}

/*@media only screen and (orientation:landscape) {
    body {
        transform: rotate(0deg);
    }
}*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
    body {
        width: 50vw;
        align-items: center;
        align-content: center;
        align-self: center;
        align-tracks: center;
    }
}

* {
    box-sizing: border-box;
}

/* ubicando contenedor de imagenes, necesario para los botones de ant y sig */
.container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

/* esconde todo por default */
.mySlides {
    display: none;
}

/* cambia cursor cuando hovering sobre miniaturas */
.cursor {
    cursor: pointer;
}

/* botones ant y sig */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(255, 94, 0);
    font-weight: bold;
    font-size: 30px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* coloca boton siguiente a la derecha */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* efecto cuando hovereando */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* numera texto */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* contenedor para texto */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* seis columnas de miniatuas */
.column {
    float: left;
    width: 16.66%;
}

/* transparencia para miniaturas */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}