:root {
    --color-A: rgb(0, 0, 0);
    --shadow-A: 0px 0px 4px #cacaca;
    --color-B: #966426;
    --shadow-B: 0px 0px 6px #000000;
    --color-C: #152f4c;
    --color-D: #353535;
    --color-E: #bbb;
    --color-F: rgb(255, 255, 255);
    --letra-A: 3em;
    --letra-B: 2.5em;
    --letra-C: 0;
    --letra-D: 1.7em;
    --letra-E: 1.4em;
    --letra-E: 1.2em;

}
body{
    display: flex;
    justify-content:center;
    background: url("../imagenes/wbg.jpg") no-repeat;
    background-size: cover;
    background-position: center;

}
* {
    margin: 0;
    padding: 0;
}
/************fondo***********/
.fondo{
    background: url("../imagenes/wbg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.content_1{
    height: 416vh;
    width: auto;
    border-left: 0.5vh solid var(--color-B);
    border-right: 0.5vh solid var(--color-B);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../imagenes/wbg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.full_pageA{
    height: 100vh;
    width: 70vw;
}
.alineado{
    text-align: center;
    overflow: hidden;
}
.title_content_1{
    height: 12vh;
    width: auto;
    overflow: hidden;
}
.fotoPageA{
    height: 76vh;
    width: 100%;
    background: url('../../src/images/1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title_content_1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_content_1 h1{
    font-size: var(--letra-A);
    font-family: 'Parisienne', cursive;
}
.title_content_1 h2{
    font-size: var(--letra-B);
    font-family: 'Parisienne', cursive;
}

/*************Seccion 2******************/
.full_pageB {
    width: 70vw;
    height: 48vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0.5vh 0 0 var(--color-B);
}
.full_pageB h1{
    font-size: var(--letra-D);
    font-family: 'EB Garamond', serif;
    text-decoration: underline;
}
.full_pageB p{
    font-size: var(--letra-E);
    font-family: 'EB Garamond', serif;
}
.full_pageB h2{
    padding-top: 2vh;
    text-decoration: none;
    font-size: var(--letra-F);
}


.barra_separadora{
    padding-top: 2vh;
    width: 30vw;
    border-bottom: 3px solid var(--color-B);
}

/***************** contador *************/
.full_pageC{
    width: 70vw;
    height: 17.1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.5vh solid var(--color-B);
    border-bottom: 0.5vh solid var(--color-B);
}
.circulos {
    height: 45px;
    width: 45px;
    background-color: var(--color-B);
    display: flex;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.contador {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 100vw;
}

.contador p {
    color: var(--color-A);
    width: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: var(--shadow-A);
}

.contador p span {
    color: var(--color-F);
}

/**********parte de foto y cuenta banco***************/
.full_pageD{
    width: 70vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fotoPageD{
    height: 85vh;
    width: 100%;
    background: url('../../src/images/3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.full_pageD h2{
    color: var(--color-A);
    text-shadow: var(--shadow-A);
    font-size: var(--letra-D);
    font-family: 'EB Garamond', serif;
}
.full_pageD p{
    color: var(--color-A);
    text-shadow: var(--shadow-A);
    font-size: var(--letra-D);
    font-family: 'EB Garamond', serif;
}
.title_content_2{
    height: 14.1vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0.5vh solid var(--color-B);
}


/********************Galeria de fotos************************/
.full_pageE{
    width: 70vw;
    height: 146vh;  
    padding-top: 2vh;  
    border-radius: 3px;
}

/******************pruebas************************/
.contslide{
    width: 500vw;
    height: 100vh;
    white-space: nowrap;
    position: relative;
    overflow-x:scroll;
    overflow-y:hidden;


}
.contslide div{/******************pruebas************************/
    width: 50%;
    background-color: #eee;
    float: none;
    height: auto;
    display: inline-block;
}
.slide{/******************pruebas************************/
    /*background: url('../imagenes/1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
}
/**********************media*************************************/
@media (orientation: landscape) {
    .content_1 {
      height: 423vh;
    }
    .title_content_1 h1{
        font-size: 2.2em;
    }
    .title_content_1 h2{
        font-size: 2em;
    }
    .full_pageB{
        height: 90vh;
    }
    .full_pageC{
        height: 24.1vh;
    }
    .full_pageD{
        height: 108vh;
    }
    .fotoPageD{
        height: 87vh;
    }
    .title_content_2{
        height: 21.1vh;
    }
}
@media (orientation: portrait){
    *{
        overflow-x: hidden;
    }
    .full_pageA{
        width: 100vw;
    }
    .full_pageB {
        width: 100vw;
    }
    .full_pageC {
        width: 100vw;
    }
    .full_pageD {
        width: 100vw;
    }
    .content_1 {
        height: 366vh;
    }
    .full_pageE {
        width: 100vw;
        height: 96vh;
    }

}

@media (min-width: 1200px) {
    .content_1 {
        height: 516vh;
      }
      
    .full_pageE {
        height: 196vh;
    }
}

/* ubicando contenedor de imagenes */
.container {
    height: 100%;
    width: 100%;
    position: relative;
    text-align: justify;
}

/* esconde imagenes de la galeria por default */
.mySlides {
    display: none;
}

/* cambia cursor cuando hovering sobre miniaturas */
.cursor {
    cursor: pointer;
}

/* botones ant y sig */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 28px;
    margin-top: -50px;
    color: rgb(255, 94, 0);
    font-weight: bold;
    font-size: 30px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* coloca boton siguiente a la derecha */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* efecto cuando hovereando */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

img {
    width: 100%;
}